
#headerContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
}
#errorPage {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#errorPage h1 {
  width: 60vw;
}

#stocksPageContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
}
#stockSinglePageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#favoritesPageContainer {
  display: flex;
  justify-content: center;
}
